# API Settings
DEBUG=True
FLAVOR=local
PORT=8000
HOST=0.0.0.0

# Ngrok Settings
NGROK_AUTHTOKEN=

# YT Music Auth Settings
AUTH_FILE_PATH=./data/auth.json
COOKIES_FILE_PATH=./data/cookies.txt

# Flavor
FLAVOR=dev

# Static Files
STATIC_DIR=./static
PROXIED_IMAGE_URL=http://localhost:8000/api/proxy-image

# DB
DATABASE_URL=postgresql://flow_user:complex_password_to_be_replaced_by_env@db:5432/flow_music